
@import url("https://cdnjs.cloudflare.com/ajax/libs/gridstack.js/10.1.2/gridstack.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");
@import url("https://cdn.jsdelivr.net/gh/jerosoler/Drawflow/dist/drawflow.min.css");

@import url("bootstrap.css");
@import url("select2.min.css");
@import url("chat.css");
@import url("menu.css");


#alert_container {
  z-index: 100;
  position: fixed;
  max-width: max-content;
  height:50px;
  left:100%;
  transform:translateX(-100%);
  top:85px;
}

.gear-button {
  color: #888888;
  font-size: 150%;
}

.gear-button:hover {
  color: #cccccc;
}

.select2-container--default .select2-selection--multiple, .select2-results {
  color: #222222;
  scrollbar-color: #AAAAAA #EEEEEE;
}

.select2-container--default .select2-selection--single {
  height: 120%;
  line-height: 120%;
  vertical-align : middle;
}

.select2-selection__arrow {
  padding-top: 35px;
  padding-right: 25px;
}

.select2-selection__rendered {
  padding-top: 4px;
  padding-bottom: 4px;
}

.select2-search__field {
  color: #222222;
  background-color: #EEEEEE;
}

@media (min-width: 768px) {
  .modal-dialog {
    width: 90%;
    max-width:600px;
  }

  .modal-xl {
    width: 90%;
    max-width:1200px;
  }
}

  /* nested navbar menus */
  /* ============ desktop view ============ */
  @media all and (min-width: 992px) {
      .dropdown-menu li{ position: relative; 	}
      .nav-item .submenu{ 
          display: none;
          position: absolute;
          left:100%; top:-7px;
      }
      .nav-item .submenu-left{ 
          right:100%; left:auto;
      }
      .dropdown-menu > li:hover{ background-color: #f1f1f1 }
      .dropdown-menu > li:hover > .submenu{ display: block; }
  }	
  /* ============ desktop view .end// ============ */

  /* ============ small devices ============ */
  @media (max-width: 991px) {
    .dropdown-menu .dropdown-menu{
        margin-left:0.7rem; margin-right:0.7rem; margin-bottom: .5rem;
    }
  }	
  /* ============ small devices .end// ============ */
  /*.grid-stack-item {
    background-color: #1FAD32;
  }*/
