# ML/AI
numpy<2
torch
torchvision
torchaudio
transformers>=4.37.0

# text utils
decorator-args
natsort
inflect
pyyaml

# webserver
websockets
cachetools
flask

# logging
termcolor
tabulate
tqdm
getch

# tensorflow_datasets (don't need tensorflow-gpu)
tfds-nightly
gsutil
gdown
--index-url https://pypi.org/simple
tensorflow
