<!doctype html>

<html>
	<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>

    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridstack.js/10.1.2/gridstack.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jerosoler/Drawflow/dist/drawflow.min.css">
    
    <link rel="stylesheet" href="/static/bootstrap.css">
    <link rel="stylesheet" href="/static/chat.css">
    
    <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/gridstack.js/10.1.2/gridstack-all.min.js"></script>
    <script type='text/javascript' src="https://cdn.jsdelivr.net/gh/jerosoler/Drawflow/dist/drawflow.min.js"></script>
    
    <script type='text/javascript' src="/static/jquery-3.6.3.min.js"></script>
    <script type='text/javascript' src='/static/bootstrap.bundle.min.js'></script>
    <script type='text/javascript' src='/static/webrtc.js'></script>
    <script type='text/javascript' src='/static/websocket.js'></script>
    <script type='text/javascript' src='/static/audio.js'></script>
    <script type='text/javascript' src='/static/grid.js'></script>
    
    <script type="text/javascript">

      function onWebsocketMsg(payload, type) {
        if( type == MESSAGE_JSON ) { 
          if( 'plugin_types' in payload ) {
            addPluginTypes(payload['plugin_types']);
          }
          
          if( 'plugin_added' in payload ) {
            addPlugins(payload['plugin_added']);
          }
          
          if( 'state_dict' in payload ) {
            setStateDict(payload['state_dict']);
          }
          
          if( 'alert' in payload ) {
            addAlert(payload['alert']);
          }
        }
      }
      
      function onTestDialogSubmit() {
        console.log('onTestDialogSubmit()');
      }
      
      window.onload = function() {

        connectWebsocket(onWebsocketMsg, port={{ ws_port }});
        
        //enumerateAudioDevices();
        //openAudioDevices();

        //window.setInterval(generateAudio, 100);
        //window.setInterval(testWebsocketSend, 500);
        addGrid();

      }
      </script>
      <style>
          #alert_container {
            z-index: 999;
            position: fixed;
            max-width: fit-content;
            height:50px;
            left:100%;
            transform:translateX(-100%);
            top:60px;
          }
          
          /*.grid-stack-item {
            background-color: #1FAD32;
          }*/
      </style>

	</head>
	<!-- bg-medium-gray -->
	<body class="bg-dark-gray" data-bs-theme="dark" height="100%">
    <!-- Navbar + main body -->
    <div class="d-flex flex-column">
      <nav class="navbar navbar-expand-lg navbar-dark bg-sage-green"> <!-- fixed-top will let rest of body scroll -->
        <div class="container-fluid">
          <div class="d-flex flex-grow-1">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand ms-2" href="#">
                <div class="mb-0 h4" style="font-family: monospace, monospace;">
                    <img src="static/nvidia_logo_white_65.png" style="max-height: 35px"></img>
                    {{title}}
                </div>
            </a>
            <span class="w-100 d-lg-none d-block">
              <!-- hidden spacer to center brand on mobile --></span>
          </div>
          <div class="collapse navbar-collapse flex-grow-1 text-right" id="navbarToggler">
            <ul class="navbar-nav ms-auto flex-nowrap"> <!-- me-auto mb-2 mb-lg-0 -->
              <!--<li class="nav-item">
                <a class="nav-link" href="#">Agent</a>
              </li>-->
              <li class="nav-item">
                <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#test_dialog">Agent</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#VideoSource_dialog">Audio</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarChatHistory" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Chat
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarChatHistory">
                  <li><a class="dropdown-item" href="#" id="chat_length">0 / 4096 tokens</a></li>
                  <li><a class="dropdown-item" href="#" onclick="onChatHistoryReset()">Reset Chat</a></li>
                  <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#profileDialog">User Profile</a>
                  <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#displayDialog">Display Options</a>
                </ul>
              </li>
            </ul>
          </div>
          <span class="navbar-nav ms-auto flex-row">
            <button id="audio-input-mute" class="btn btn-primary btn-circle btn-md bi bi-mic-mute-fill ms-1 me-1" type="button" title="Mute/unmute the microphone" onclick="muteAudioInput()"></button>
            <button id="audio-output-mute" class="btn btn-primary btn-circle btn-md bi bi-volume-up-fill" type="button" title="Mute/unmute the speakers" onclick="muteAudioOutput()"></button>
          </span>
        </div>
      </nav>
    </div>
    <div class="grid-stack m-2"></div>
    
    <!-- Alert Messages -->
    <div id="alert_container" class="container"> <!--class="fixed-top"-->
      <div id="alert_window" class="alert mb-0" style="background-color: rgba(48,48,48,1.0); display: none">
        <div id="alert_messages" class="d-inline-block"></div>
        <button type="button" class="btn-close float-end align-middle d-inline-block" onclick="onHideAlerts()"></button>
      </div>
      
      <script type='text/javascript'>
        function alertColor(level) {
          if( level == 'success' ) return 'limegreen';
          else if( level == 'error' ) return 'orange';
          else if( level == 'warning' ) return 'orange';
          else return 'rgb(200,200,200)';
        
        }
        function toTimeString(timestamp) {
          return new Date(timestamp).toLocaleTimeString([], { hour: '2-digit', hour12: true, minute: '2-digit', second: '2-digit' }).slice(0,-3); // remove AM/PM
        }
          
        function onHideAlerts() {
          $('#alert_window').fadeOut('slow', function() {
            $(`#alert_messages pre`).remove();
          });
        }
        
        function removeAlert(id) {
          $(`#alert_messages #alert-${id}`).remove();
        }
        
        function addAlert(alert) {
          // supress other messages from the same category that may still be showing
          if( alert['category'].length > 0 )
            $(`#alert_messages .alert-category-${alert['category']}`).remove();
            
          // add a new element containing the alert message, and show the window if needed
          $('#alert_messages').append(`<pre id="alert-${alert['id']}" class="align-middle m-0 alert-category-${alert['category']}" style="color: ${alertColor(alert['level'])}">[${alert['time']}] ${alert['message']}\n</pre>`);
          $('#alert_window:hidden').fadeIn('fast');

          // automatically remove the messages (if this is the last message, hide the window too)
          if( alert['timeout'] > 0 ) {
            setTimeout(function() {
              if( $('#alert_messages pre').length > 1 ) {
                $(`#alert_messages #alert-${alert['id']}`).remove();
                console.log('removing alerts due to timeout');
                console.log(`#alert_messages #alert-${alert['id']}`);
              }
              else {
                onHideAlerts();
              }
            }, alert['timeout']);
          }
        }
      </script>
      <!--
      <style>
        .ChatSession .outputs .output:nth-child(1):before {
            display: block;
            content: "Yes";
            position: relative;
            right: 70px;
          }
         .ChatSession .outputs .output:nth-child(2):before {
            display: block;
            content: "No";
            position: relative;
            right: 30px;
         }
      </style>
      -->
    </div>
    <link rel="stylesheet" href="/static/drawflow.css">
	</body>
</html>
