<!doctype html>

<html>
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>

    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    
    <link rel="stylesheet" href="/static/bootstrap.css">
    <link rel="stylesheet" href="/static/studio.css">

    <script type='text/javascript' src="/static/studio.js"></script>
    
    <script type="text/javascript">
      window.onload = function() {
        loadStudio({
            ws_port: {{ws_port}}
        });
      }
    </script>
</head>

<body class="bg-dark-gray" data-bs-theme="dark" height="100%">
    <!-- Navbar + main body -->
    <div class="d-flex flex-column">
      <nav class="navbar navbar-expand-lg navbar-dark bg-sage-green p-0"> <!-- fixed-top will let rest of body scroll -->
        <div class="container-fluid p-2">
          <div class="d-flex flex-grow-1">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand ms-2" href="#">
                <div class="mb-0 h4" style="font-family: monospace, monospace;">
                    <img src="static/nvidia_logo_white_65.png" style="max-height: 35px"></img>
                    {{title}}
                </div>
            </a>
            <span class="w-100 d-lg-none d-block">
              <!-- hidden spacer to center brand on mobile --></span>
          </div>
          <div class="collapse navbar-collapse flex-grow-1 text-right" id="navbarToggler">
            <ul class="navbar-nav ms-auto flex-nowrap"> <!-- me-auto mb-2 mb-lg-0 -->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarAgent" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Agent
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarAgent">
                  <li><a class="dropdown-item" href="#" onclick="removeAll()">New</a></li>
                  <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#saveAgentDialog">Save</a></li>
                  <li><a class="dropdown-item" id="navbarLoadAgent" href="#">Load</a>
                    <ul class="submenu dropdown-menu" id="navbarLoadAgentMenu" aria-labelledby="navbarLoadAgent"></ul>
                  </li>
                  <li><a class="dropdown-item" id="navbarInsertAgent" href="#">Insert</a>
                    <ul class="submenu dropdown-menu" id="navbarInsertAgentMenu" aria-labelledby="navbarInsertAgent"></ul>
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#audioDialog">Audio</a>
              </li>
            </ul>
          </div>
          <span class="navbar-nav ms-auto me-0 flex-row align-items-center">
            <button id="audio-input-mute" class="btn btn-primary btn-circle btn-md bi bi-mic-mute-fill ms-1 me-1" type="button" title="Mute/unmute the microphone" onclick="muteAudioInput()"></button>
            <button id="audio-output-mute" class="btn btn-primary btn-circle btn-md bi bi-volume-up-fill me-1" type="button" title="Mute/unmute the speakers" onclick="muteAudioOutput()"></button>
            <span id="Tegrastats_node_stats" class="ms-1 px-2 py-1" style="background-color: rgba(0,0,0,0.2); font-size: 75%; font-family: monospace, monospace;"></span>
          </span>
        </div>
      </nav>
    </div>
              
    <div class="grid-stack m-2"></div>
    
    <!-- Save agent dialog -->
    <div class="modal fade" id="saveAgentDialog" tabindex="-1" aria-labelledby="saveAgentTitle" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="saveAgentTitle">Save Agent</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="color: #eeeeee;"></button>
          </div>
          <div class="modal-body">
            <div class="mb-3">
              <!--<label for="saveAgentName" class="form-label">Name</label>-->
              <input id="saveAgentName" class="form-control" value="MyAgent"></input>
              <div class="form-text">The name of the agent or filename to save on the server (.json or .yaml)<br/>By default, these get saved under <code>jetson-containers/data/nano_llm/agents</code></div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="savePreset(document.getElementById('saveAgentName').value)">Save</button>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Audio settings dialog -->
    <div class="modal fade" id="audioDialog" tabindex="-1" aria-labelledby="audioDialogLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="audioDialogLabel">Audio Settings</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="color: #eeeeee;"></button>
          </div>
          <div class="modal-body">
            <div class="mb-3">
              <label for="audio-input-select" class="form-label">Input Device (Microphone)</label>
              <select id="audio-input-select" name="audio-input-select" class="form-select" onclick="openAudioDevices()"></select>
            </div>
            <div class="mb-3">
              <label for="audio-output-select" class="form-label">Output Device (Speaker)</label>
              <select id="audio-output-select" name="audio-output-select" class="form-select" onclick="openAudioDevices()"></select>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <!--<button type="button" class="btn btn-primary">Save changes</button>-->
          </div>
        </div>
      </div>
    </div>

    
    <!-- Alert Messages -->
    <div id="alert_container" class="container"> <!--class="fixed-top"-->
      <div id="alert_window" class="alert mb-0" style="background-color: rgba(48,48,48,1.0); display: none">
        <div id="alert_messages" class="me-3"></div>
        <a href="#" class="btn-close" style="position: absolute; right: 5px; top: 5px; font-size: 80%" onclick="onHideAlerts()"></a>
      </div>
    </div>
    
    <link rel="stylesheet" href="/static/drawflow.css">
    
</body>
</html>
